<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head th:replace="/admin/head"></head>

<style th:href="@{/assets/plugins/bootstrap/css/fileinput.min.css}"></style>
<link th:href="@{/assets/plugins/vue-tree/css/index.css}" rel="stylesheet">
<style>
    .bootstrap-table .btn-group label {
        color: black !important;
    }
</style>
<body class="fix-header card-no-border">

<div id="main-wrapper">

    <header th:replace="/admin/header"></header>

    <div th:replace="/admin/aside"></div>

    <div class="page-wrapper">

        <!-- Container fluid  -->

        <div class="container-fluid">

            <!-- Bread crumb and right sidebar toggle -->

            <div class="row page-titles">
                <div class="col-md-6 col-8 align-self-center">
                    <h3 class="text-themecolor m-b-0 m-t-0">Dashboard</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="javascript:void(0)"
                               th:text="游艇出租"></a>
                        </li>
                    </ol>
                </div>

            </div>

            <!-- End Bread crumb and right sidebar toggle -->


            <!-- Start Page Content -->

            <div class="row">
                <div class="col-6 offset-3">
                    <div class="card">
                        <div class="card-block" id="app">
                            <el-form ref="form" :model="form" label-width="80px">
                                <el-form-item label="游艇">
                                    <el-input v-model="name" disabled></el-input>
                                </el-form-item>
                                <el-form-item label="库存数量">
                                    <el-input-number v-model="form.stock.count" :min="1" :max="1000" label="库存数量"></el-input-number>
                                </el-form-item>
                                <el-form-item label="停靠码头">
                                    <el-select v-model="form.leasingYacht.wharf" placeholder="请选择停靠码头">
                                        <el-option v-for="item in wharf" :label="item.wharf" :value="item.id" :key="item.id"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-row v-for="(route,index) in form.routes" :key="index">
                                    <el-col :span="12">
                                        <el-form-item :label="'航线'+(index+1)">
                                            <el-input v-model="route.routeDesc"></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="6">
                                        <el-form-item label="价格">
                                            <el-input v-model="route.price"></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="6">
                                        <el-button @click="removeRoute(route)" v-if="form.routes.length!==1">删除</el-button>
                                    </el-col>
                                </el-row>
                                <el-form-item>
                                    <el-button @click="addRoute()">添加航线</el-button>
                                </el-form-item>
                                <el-form-item label="限载人数">
                                    <el-input-number v-model="form.leasingYacht.maxpeople" :min="1" :max="10" label="限载人数"></el-input-number>
                                </el-form-item>
                                <el-form-item label="游艇卧室">
                                    <el-input-number v-model="form.leasingYacht.bedroom" :min="1" :max="10" label="游艇卧室"></el-input-number>
                                </el-form-item>
                                <el-form-item label="标配船员">
                                    <el-input
                                            type="textarea"
                                            placeholder="请输入内容"
                                            v-model="form.leasingYacht.standardSeaman"
                                            maxlength="50"
                                            show-word-limit
                                    ></el-input>
                                </el-form-item>
                                <el-form-item label="标配项目">
                                    <el-input
                                            type="textarea"
                                            placeholder="请输入内容"
                                            v-model="form.leasingYacht.standardSubject"
                                            maxlength="50"
                                            show-word-limit
                                    ></el-input>
                                </el-form-item>
                                <el-form-item label="选配项目">
                                    <el-input
                                            type="textarea"
                                            placeholder="请输入内容"
                                            v-model="form.leasingYacht.apolegamySubject"
                                            maxlength="50"
                                            show-word-limit
                                    ></el-input>
                                </el-form-item>
                                <el-form-item label="保险说明">
                                    <el-input
                                            type="textarea"
                                            placeholder="请输入内容"
                                            v-model="form.leasingYacht.insuranceDeclare"
                                            maxlength="30"
                                            show-word-limit
                                    ></el-input>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary" @click="onSubmit">出租</el-button>
                                    <el-button>取消</el-button>
                                </el-form-item>
                            </el-form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- End PAge Content -->

        </div>

        <!-- End Container fluid  -->


        <!-- footer -->

        <footer class="footer text-center">
            © 2017 Monster Admin by wrappixel.More Templates
            <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a>
            - Collect from
            <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
        </footer>

        <!-- End footer -->

    </div>

    <!-- End Page wrapper  -->

</div>
<div id="editor" style="display: none"></div>
<!-- End Wrapper -->
<!--scripts-->
<div class="scripts" th:replace="/admin/footer"></div>
<script th:src="@{/assets/plugins/bootstrap/js/fileinput.min.js}"></script>
<script th:src="@{/assets/plugins/bootstrap/js/zh.js}"></script>
<script th:src="@{/assets/plugins/vue-tree/vue.js}"></script>
<script th:src="@{/assets/plugins/vue-tree/index.js}"></script>
<script th:src="@{/assets/plugins/vue-tree/axios.min.js}"></script>
<script>
    var vm = new Vue({
        el:'#app',
        data:{
            form: {
                leasingYacht: {
                    yachtId: '[[${yacht.id}]]',
                    maxpeople: 0,
                    wharf: '',
                    bedroom: 0,
                    standardSeaman: '',
                    standardSubject: '',
                    apolegamySubject: '',
                    insuranceDeclare: ''
                },
                stock: {
                    id: '[[${yacht.id}]]',
                    count: 0
                },
                routes: [
                    {
                        routeDesc: '',
                        price: 0
                    }
                ]
            },
            wharf: [],
            name: '[[${yacht.name}]]'
        },
        methods:{
            onSubmit () {
                axios.post('/manage/leasing-yacht/save',this.form).then(res=>{
                    let result = res.data.result
                })
                console.log('submit!')
            },
            getWharfs () {
                axios.get('/manage/api/wharf/list').then(res => {
                    var data = res.data.result
                    this.wharf = data
                })
            },
            addRoute () {
                this.form.routes.push({
                    routeDesc: '',
                    price: 0
                })
            },
            removeRoute (route) {
                var index = this.form.routes.indexOf(route)
                if (index !== -1) {
                    this.form.routes.splice(index, 1)
                }
            }
        },
        mounted() {
            this.getWharfs()
        }
    })
</script>

</body>

</html>
