<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head th:replace="/admin/head"></head>
<!-- Bootstrap Table CSS -->
<link th:href="@{/assets/plugins/bootstrap/css/bootstrap-table.min.css}" rel="stylesheet">
<link th:href="@{/assets/plugins/vue-tree/css/index.css}" rel="stylesheet">
<!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
<style>
  .bootstrap-table .btn-group label {
    color: black !important;
  }
</style>
<body class="fix-header card-no-border">

<div id="main-wrapper">

  <header th:replace="/admin/header"></header>

  <div th:replace="/admin/aside"></div>

  <div class="page-wrapper">

    <!-- Container fluid  -->

    <div class="container-fluid">

      <!-- Bread crumb and right sidebar toggle -->

      <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
          <h3 class="text-themecolor m-b-0 m-t-0">Dashboard</h3>
          <ol class="breadcrumb">
            <li class="breadcrumb-item">

              <a href="javascript:void(0)">
                <!--左上角文字信息-->
              </a>
            </li>
          </ol>
        </div>

      </div>

      <!-- End Bread crumb and right sidebar toggle -->


      <!-- Start Page Content -->

      <div class="row">
        <div class="col-6 offset-3">
          <div class="card">
            <div class="card-block">
              <div class="card-block">
                <!--内容-->
                <div id="app">
                  <el-tree
                      :data="data"
                      node-key="id"
                      default-expand-all
                      :props="defaultProps">
                    <span slot-scope="{node,data}">
                      <span v-text="node.label"></span>
                      <span>
                        <el-button type="text" v-on:click.prevent="()=>toUrl(node)">前往</el-button>
                    </span>
                    </span>
                  </el-tree>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- End PAge Content -->

    </div>

    <!-- End Container fluid  -->


    <!-- footer -->

    <footer class="footer text-center">
      © 2017 Monster Admin by wrappixel.More Templates
      <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a>
      - Collect from
      <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
    </footer>

    <!-- End footer -->

  </div>

  <!-- End Page wrapper  -->

</div>

<!-- End Wrapper -->
<!--scripts-->
<div class="scripts" th:replace="/admin/footer"></div>
<script th:src="@{/assets/plugins/vue-tree/vue.js}"></script>
<script th:src="@{/assets/plugins/vue-tree/index.js}"></script>
<script th:src="@{/assets/plugins/vue-tree/axios.min.js}"></script>
<script th:src="@{/assets/plugins/vue-tree/jsontree.js}"></script>
<script>
  axios.post('[[@{/api/menu/all}]]').then(
      function (result) {
        var data = result.data.result;
        console.log(data);
        new Vue({
          el: '#app',
          data: {
            data: jsonTree(data, {
              id: "id",
              pid: "pid",
              children: "children"
            }),
            defaultProps: {
              children: 'children',
              label: 'name'
            }
          },
          methods: {
            toUrl(node) {
              var menuId = node.data.id;
              console.log('栏目id===>' + menuId);
              var url = '/manage/menu/article/'+menuId;

              window.location.replace(url);
            }
          }
        });
      }
  )
</script>
</body>

</html>
