<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head th:replace="/admin/head"></head>
<!-- Bootstrap Table CSS -->
<link th:href="@{/assets/plugins/bootstrap/css/bootstrap-table.min.css}" rel="stylesheet">
<style>
    .bootstrap-table .btn-group label {
        color: black !important;
    }
</style>
<body class="fix-header card-no-border">

<div id="main-wrapper">

    <header th:replace="/admin/header"></header>

    <div th:replace="/admin/aside"></div>

    <div class="page-wrapper">

        <!-- Container fluid  -->

        <div class="container-fluid">

            <!-- Bread crumb and right sidebar toggle -->

            <div class="row page-titles">
                <div class="col-md-6 col-8 align-self-center">
                    <h3 class="text-themecolor m-b-0 m-t-0">Dashboard</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="javascript:void(0)">订单列表</a>
                        </li>
                    </ol>
                </div>

            </div>

            <!-- End Bread crumb and right sidebar toggle -->


            <!-- Start Page Content -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-block">
                            <div id="app">
                            <table id="dataList"></table>

                                <el-dialog title="开票信息" :visible.sync="dialogTableVisible">
                                    <el-form :model="form">
                                        <el-form-item label="发票抬头" :label-width="formLabelWidth">
                                            <el-input v-model="form." autocomplete="off" disabled></el-input>
                                        </el-form-item>
                                        <el-form-item label="发票明细" :label-width="formLabelWidth">
                                            <el-input v-model="form.name" autocomplete="off" disabled></el-input>
                                        </el-form-item>
                                        <el-form-item label="邮寄地址" :label-width="formLabelWidth">
                                            <el-input v-model="form.name" autocomplete="off" disabled></el-input>
                                        </el-form-item>
                                        <el-form-item label="邮政编码" :label-width="formLabelWidth">
                                            <el-input v-model="form.name" autocomplete="off" disabled></el-input>
                                        </el-form-item>
                                        <el-form-item label="收件人" :label-width="formLabelWidth">
                                            <el-input v-model="form.name" autocomplete="off" disabled></el-input>
                                        </el-form-item>
                                        <el-form-item label="联系方式" :label-width="formLabelWidth">
                                            <el-input v-model="form.name" autocomplete="off" disabled></el-input>
                                        </el-form-item>
                                    </el-form>
                                </el-dialog>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- End PAge Content -->

        </div>

        <!-- End Container fluid  -->


        <!-- footer -->

        <footer class="footer text-center">
            © 2017 Monster Admin by wrappixel.More Templates
            <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a>
            - Collect from
            <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
        </footer>

        <!-- End footer -->

    </div>

    <!-- End Page wrapper  -->

</div>

<!-- End Wrapper -->
<!--scripts-->
<div class="scripts" th:replace="/admin/footer"></div>
<script th:src="@{/js/data-table.js}"></script>
<script>

    var columns = [
        {
            title: '序号',
            field: '',
            align: 'center',
            formatter: getIndex('#dataList')
        }, {
            field: 'yachtName',
            title: '游艇名称',
            align: 'center'
        },
        {
            field: 'customerName',
            title: '客户名称',
            align: 'center'
        },
        {
            field: 'tripDate',
            title: '出行日期',
            align: 'left'
        },
        {
            field: 'tripTime',
            title: '出行时间',
            align: 'left'
        },
        {
            field: 'peopleCount',
            title: '出行人数',
            align: 'left'
        },
        {
            field: 'remark',
            title: '备注',
            align: 'center'
        },
        {
            field: 'createTime',
            title: '订单创建时间',
            align: 'center'
        },
        {
            field: 'invoice',
            title: '操作',
            align: 'center',
            formatter: function (value, row) {
                if (value) {
                    return [
                        '<a class="btn btn-info" href="[[@{/invoice/info}]]?id=' + value + '" >',
                        '<i class="fa fa-file-o">查看开票信息</i>',
                        '</a>  '
                    ].join('');
                } else return ' '
            }
        }
    ]
    InitTable('#dataList', '[[@{/api/advance-order/list}]]', columns);

    function del(id) {
        const url = '[[@{/advance-order/del}]]?id=' + id
        layer.confirm('确定删除？', function () {
            $.ajax({
                url: url,
                type: 'get',
                success: function (data) {
                    layer.msg(data.msg + ',即将刷新页面', {time: 1000}, function () {
                        window.location.reload()
                    })
                }
            })
        })
    }
</script>
</body>

</html>
