<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lirui.boat.mapper.YachtMapper">
    <select id="getYachts" resultType="com.lirui.boat.entity.vo.YachtVO">
        select y.*, u.nickname owner, c.classification classificationName
        from yacht y
                 join user u
                 join classification c on y.owner_id = u.id and c.id = y.classification_id
    </select>
    <select id="selectById" resultType="com.lirui.boat.entity.vo.YachtVO">
        select y.*, u.nickname owner, c.classification classificationName
        from yacht y
                 join user u
                 join classification c on y.owner_id = u.id and c.id = y.classification_id where y.id = #{id}
    </select>
    <select id="getYachtsOnCondition" resultType="com.lirui.boat.entity.vo.YachtVO" parameterType="object">
        select y.*, u.nickname owner, c.classification classificationName
        from yacht y
                 join user u
                 join classification c on y.owner_id = u.id and c.id = y.classification_id
            ${ew.customSqlSegment}
    </select>


</mapper>